body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.input-container {
  display: flex;
  align-items: center;
  position: relative;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#show-hide {
  position: absolute;
  background-color: teal;
  right: 10px;
  cursor: pointer;
  font-size: 15px;
  color: white;
  font-weight: bold;
  border: 1px solid green;
  padding: 4px;
  border-radius: 4px;
}
#show-hide:active {
  background-color: transparent;
  color: teal;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}
